{{ form.non_field_errors }}
{% for field in form %}
    <div class="form-group{% if field.errors %} has-error{% endif %}">
        <div class="grid">
            <div class="grid__item md-w-1/4">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            </div>
            <div class="grid__item md-w-3/4">
                {{ field }}
                {% if field.errors %}
                    <span class="help-block">
                        {% for error in field.errors %}
                            {{error}}
                        {% endfor %}
                    </span>
                {% elif field.help_text %}
                    <span class="help-block">{{ field.help_text|safe }}</span>
                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
