{% extends "base.html" %}
{% load static i18n %}
{% block page_title %}{% blocktrans %}Edit "{{ competition }}"{% endblocktrans %}{% endblock %}
{% block body_class %}page--competition-form{% endblock body_class %}

{% block content %}
<header class="page-header">
    <h1>{{ competition.name }}</h1>
</header>

<form action="" method="post">
    {% csrf_token %}
    {% include "competition/_form.html" %}
    <div class="grid grid--right">
        <div class="grid__item md-w-3/4">
            <p><input type="submit" value="{% trans "Update" %}" class="btn btn--primary" /></p>
        </div>
    </div>
</form>
{% endblock %}
