{% extends "base.html" %}
{% load static i18n game_extras %}
{% block page_title %}{% trans "All competitions" %}{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans "All competitions" %}</h1>
    </div>

    <div class="grid">
        <div class="grid__item md-w-1/3">
            <h3>{% trans "Past competitions" %}</h3>
            {% if past_competitions %}
                <ul class="list-stacked list-stacked--divided">
                    {% include "competition/_list.html" with competitions=past_competitions %}
                </ul>
            {% else %}
                <p>{% trans "No past competition to display." %}</p>
            {% endif %}
        </div>
        <div class="grid__item md-w-1/3">
            <h3>{% trans "Ongoing competitions" %}</h3>
            {% if ongoing_competitions %}
                <ul class="list-stacked list-stacked--divided">
                    {% include "competition/_list.html" with competitions=ongoing_competitions %}
                </ul>
            {% else %}
                <p>{% trans "No ongoing competition to display." %}</p>
            {% endif %}
        </div>
        <div class="grid__item md-w-1/3">
            <h3>{% trans "Upcoming competitions" %}</h3>
            {% if upcoming_competitions %}
                <ul class="list-stacked list-stacked--divided">
                    {% include "competition/_list.html" with competitions=upcoming_competitions %}
                </ul>
            {% else %}
                <p>{% trans "No upcoming competition to display." %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
