{% extends "base.html" %}
{% load static i18n %}
{% block page_title %}{% trans "Create a competition" %}{% endblock %}
{% block body_class %}page--competition-form{% endblock body_class %}

{% block content %}
<header class="page-header">
    <h1>{% trans "Create a competition" %}</h1>
</header>

<form id="add-result" action="" method="post">
    {% csrf_token %}
    {% include "competition/_form.html" %}
    <p><input type="submit" value="{% trans "Create" %}" class="btn btn--primary" /></p>
</form>
{% endblock %}
