/**
 * Base
 * FORMS
 */

select[multiple] {
  min-height: 200px;
}

.help-block {
  display: block;
  margin-top: $spacing-unit-tiny;

  color: $muted-color;
}

.has-error {
  input,
  select,
  textarea {
    border-color: $brand-danger;
  }

  .help-block {
    color: $brand-danger;
  }
}
