/**
 * Base
 * GRAPHS
 */

path {
  fill: none;
  stroke-width: 2px;
}

.axis path,
.axis line {
  fill: none;
  stroke: $text-color;
  shape-rendering: crispEdges;
}

.axis path {
  display: none;
}

circle.highlighted,
path.highlighted {
  stroke-width: 3px;
}

text.highlighted {
  font-style: italic;
}

.tick,
.legend {
  fill: $text-color;
}
