/**
 * Base
 * LAYOUT
 */

html,
body {
  height: 100%;
}

body {
  padding: 70px 0 0 0;
}

// Main layout

.container-fluid {
  padding-left: $spacing-unit;
  padding-right: $spacing-unit;
}

.app {
  height: 100%;
  @include display-flex;
  @include flex-direction(column);
}

.app-layout {
  @include display-flex;
  @include flex-direction(row);
  @include align-items(stretch);
  @include flex-grow(1);
}

.sidebar {
  width: 280px;

  background: $brand-lighter;
  border-right: 1px solid $brand-light;

  &:empty {
    display: none;
  }

  a {
    color: $brand-dark;
  }
}

.app-content {
  @include flex-grow(1);
  padding: $spacing-unit;
}

.page-header {
  margin: -#{$spacing-unit} -#{$spacing-unit} #{$spacing-unit} -#{$spacing-unit};
  padding: $spacing-unit;

  // background-color: $brand-lighter;
  border-bottom: 1px solid $brand-light;

  > :first-child,
  #{headings()}:first-of-type {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}


// Sidebar

.quick-profile {
  margin-bottom: $half-spacing-unit;
}
