/**
 * Base
 * TYPE
 */

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar-brand {
  font-size: 28px;
  font-weight: bold;
}

a.text-muted:hover,
a.text-muted:active {
  color: $gray-dark;
  text-decoration: none;
}
