/*----------------------------------------*\
  TYPOGRAPHY
\*----------------------------------------*/

/**
 * Links
 */

a {
  text-decoration: none;

  &:focus,
  &:hover {
    color: lighten($brand-color, 25%);
  }
}

.link-ghost {
  color: $text-color;
  border-bottom: 1px solid $alt-color;

  &:focus,
  &:hover {
    color: white;
  }
}


/**
 * Headings
 */

h1, h2, h3 {
  font-weight: 300;
}

h1 {
  font-size: rem(32px);
}

h2 {
  font-size: rem(24px);
}

h3 {
  font-size: rem(20px);
}

@media (min-width: $screen-md-min) {
  h1 {
    font-size: rem(46px);
  }

  h2 {
    font-size: rem(32px);
  }

  h3 {
    font-size: rem(24px);
  }
}


/**
 * Miscs
 */

strong,
b,
th,
label {
  font-weight: 500;
}


/**
 * Text
 */

.text-danger {
  color: $brand-danger;
}
