/*!
 *    _______        __      _____  ___   __   ___  ___      ___   _______
 *   /'      \      /'\    (\'   \|'  \ |/'| /  ')|'  \    /'  | /'     '|
 *  |:        |    /    \   |.\\   \    |(: |/   /  \   \  //   |(: ______)
 *  |_____/   )   /' /\  \  |: \.   \\  ||    __/   /\\  \/.    | \/    |
 *   //      /   //  __'  \ |.  \    \. |(// _  \  |: \.        | // ___)_
 *  |:  __   \  /   /  \\  \|    \    \ ||: | \  \ |.  \    /:  |(:      '|
 *  |__|  \___)(___/    \___)\___|\____\)(__|  \__)|___|\__/|___| \_______)
 *
 */


/**
 * Settings
 */

@import 'settings/kanbasu';
@import '../../node_modules/kanbasu/src/assets/scss/settings/settings';


/**
 * Tools
 */

@import '../../node_modules/kanbasu/src/assets/scss/tools/functions';
@import '../../node_modules/kanbasu/src/assets/scss/tools/mixins';


/**
 * Vendors
 */

@import '../../node_modules/kanbasu/src/assets/scss/vendor/normalize';


/**
 * Defaults
 */

@import '../../node_modules/kanbasu/src/assets/scss/defaults/box-model';
@import '../../node_modules/kanbasu/src/assets/scss/defaults/elements';
@import '../../node_modules/kanbasu/src/assets/scss/defaults/typography';
@import '../../node_modules/kanbasu/src/assets/scss/defaults/table';
@import '../../node_modules/kanbasu/src/assets/scss/defaults/forms';


/**
 * Base
 */

@import 'base/typography';
@import 'base/layout';
@import 'base/graphs';
@import 'base/forms';


/**
 * Helpers
 */

@import '../../node_modules/kanbasu/src/assets/scss/helpers/text';
@import '../../node_modules/kanbasu/src/assets/scss/helpers/float';
@import '../../node_modules/kanbasu/src/assets/scss/helpers/spacings';
@import '../../node_modules/kanbasu/src/assets/scss/helpers/spacings-responsive';
@import '../../node_modules/kanbasu/src/assets/scss/helpers/images';
@import '../../node_modules/kanbasu/src/assets/scss/helpers/positionning';
@import '../../node_modules/kanbasu/src/assets/scss/helpers/display';


/**
 * Components
 */

@import '../../node_modules/kanbasu/src/assets/scss/components/grid';
@import '../../node_modules/kanbasu/src/assets/scss/components/widths';
@import '../../node_modules/kanbasu/src/assets/scss/components/widths-responsive';
@import '../../node_modules/kanbasu/src/assets/scss/components/btn';
@import '../../node_modules/kanbasu/src/assets/scss/components/box';
@import '../../node_modules/kanbasu/src/assets/scss/components/media';
@import '../../node_modules/kanbasu/src/assets/scss/components/media-responsive';
@import '../../node_modules/kanbasu/src/assets/scss/components/mosaic';
@import '../../node_modules/kanbasu/src/assets/scss/components/mosaic-responsive';
@import '../../node_modules/kanbasu/src/assets/scss/components/list';
@import '../../node_modules/kanbasu/src/assets/scss/components/list-inline';
@import '../../node_modules/kanbasu/src/assets/scss/components/list-stacked';
@import '../../node_modules/kanbasu/src/assets/scss/components/embed-responsive';

@import 'components/spinner';
@import 'components/game';
@import 'components/table';
@import 'components/user';
@import 'components/timeline';
@import 'components/panel';
@import 'components/btn';
@import 'components/mirror';
@import 'components/key';
@import 'components/icon';
@import 'components/competitions-list';


/**
 * Pages
 */

@import 'pages/landing';


/**
 * Vendors
 */
@import 'vendor/select2';
