{% extends "base.html" %}

{% load i18n static %}

{% block body_class %}page--landing{% endblock %}

{% block page %}
    <div class="landing">
        <div class="landing__body">
            {% include 'icons/swords.svg' %}

            <h1 class="landing__title mrgb0">Rank-Me</h1>
            <p class="mrgt-- mrgb+ text-muted">{% trans "Create competitions and track your scores." %}</p>
            <p><a href="{% url 'social:social.apps.django_app.views.auth' backend='twitter' %}" class="btn btn--primary btn--large" title="{% trans "Sign in with Twitter" %}">{% trans "Sign in with Twitter" %}</a></p>
        </div>
    </div>
{% endblock %}
