{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="team">
    <header class="page-header">
        <a href="{% url 'edit_profile' %}" class="btn btn--default pull-right">{% trans "Edit your profile" %}</a>
        <h1>
            {% include 'game/_player_avatar.html' %}
            {{ profile.get_full_name }}
        </h1>
    </header>

    <h3>{% trans "Competitions" %}</h3>
    {% if scores %}
        <table class="table tabble-stripped">
            <thead>
                <tr>
                    <th>Competition</th>
                    <th>Score (µ)</th>
                    <th>σ</th>
                </tr>
            </thead>
            <tbody>
                {% for score in scores %}
                    <tr>
                        <td>{{ score.competition.name }}</td>
                        <td>{{ score.score|floatformat:"2" }}</td>
                        <td>{{ score.stdev|floatformat:"3" }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-muted">{% trans "This user didn’t participate in any competition yet." %}</p>
    {% endif %}
</div>
{% endblock %}
