/*----------------------------------------*\
  BUTTONS
\*----------------------------------------*/

.btn--default {
  &:focus {
    box-shadow: 0 0 15px 2px $alt-color-light;
  }
}

.btn--primary {
  &:focus,
  &:hover {
    color: $btn-primary-color;
  }

  &:focus {
    box-shadow: 0 0 15px 2px $brand-color;
  }
}

.btn--danger {
  background-color: $brand-danger;
}
