/**
 * Object
 * TABLE
 */

table {
  font-size: rem(14px);

  @media (min-width: $screen-md-min) {
    font-size: rem(16px);
  }

  td,
  th {
    vertical-align: middle;

    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
  }

  thead {
    td,
    th {
      border-bottom: 1px solid $alt-color-dark;
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: lighten($alt-color-darker, 5%);
      }

      &:not(:last-child) {
        td,
        th {
          border-bottom: 1px dashed $alt-color-dark;
        }
      }
    }
  }
}
