{% load i18n %}

<div class="event-hook">
    <div class="event-img-wrap">
        <img class="event-img img-circle user-avatar" src="{{ event.get_details.winner.avatar }}"/>
    </div>
</div>
<div class="event-body">
    <p class="event-competition"><a href="{% url "competition_detail" event.competition.slug %}" class="text-muted">{{ event.competition }}</a></p>

    <p>
        <strong>{% include 'timeline/_team.html' with team=event.get_details.winner %}</strong>
        {% trans "won against" %}
        <strong>{% include 'timeline/_team.html' with team=event.get_details.loser %}</strong>
    </p>
</div>
