{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="page-header">
    <h1>{{ player }}</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{% trans "Competitions in which this player participates" %}</h3>
    </div>

    <table class="table">
        {% for score in player.scores.all %}
            <tr>
                <td><a href="{% url 'player_detail' competition_slug=score.competition.slug player_id=player.id %}">{{ score.competition }}</a></td>
                <td class="text-right text-muted">{{ score.score }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
