/**
 * Object
 * BOX
 */

.box {
  padding: $spacing-unit;

  > *:first-child {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }
}
  .box__heading {
    margin-bottom: $half-spacing-unit;
  }

.box--soft {
  padding: 0;

  + .box--soft {
    margin-top: $spacing-unit;
  }
}

  .box--soft__title {
    padding: $half-spacing-unit $spacing-unit 0;
  }

.box--highlighted {
  background-color: $brand-light;
}
