/**
 * Object
 * TIMELINE
 */

.timeline {
  position: relative;

  &::before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;

    position: absolute;
    top: 0;
    left: 27px;
    bottom: 0;
    z-index: -1;

    background-color: $gray-light;
  }
}

  .timeline-event {
    @include display-flex;
    @include flex-direction(row);
    @include align-items(center);

    + .timeline-event {
      margin-top: $spacing-unit;
    }
  }

  .timeline-date {
    margin: $spacing-unit 0;
    padding-top: $spacing-unit;
    padding-left: 68px;

    position: relative;

    &::before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      margin-top: -6px;

      position: absolute;
      top: calc(50% + #{$half-spacing-unit});
      left: 22px;

      border: 2px solid $gray-light;
      background-color: white;
      border-radius: 50%;
    }

    &::after {
      content: '';
      display: block;
      width: 50%;
      height: 2px;
      margin-top: -1px;

      position: absolute;
      top: calc(50% + #{$half-spacing-unit});
      left: 32px;

      @include background-image(linear-gradient(left, $gray-light, transparentize($gray-light, 1)));
    }

    h4 {
      display: inline-block;
      margin: 0 -8px;
      padding: 0 8px;

      position: relative;
      z-index: 1;

      background-color: white;
    }
  }

  .event-hook {
    width: 56px;
    margin-right: $half-spacing-unit;
  }

  .event-img-wrap {
    display: block;
    position: relative;

    &::after {
      content: '';
      display: block;
      margin: 8px;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;

      border-radius: 50%;
      @include box-shadow(0 0 0 1px rgba(0,0,0,.1) inset);
    }
  }
    .event-img {
      width: 100%;

      border: 8px solid white;
    }

  .event-icon {
    width: 40px;
    height: 40px;
    margin-left: 8px;
    margin-right: $spacing-unit;

    font-size: 12px;
    text-align: center;
    line-height: 24px;
    color: white;

    border: 8px solid white;
    background-color: $gray-light;
    border-radius: 50%;
    @include box-shadow(0 0 0 1px rgba(0,0,0,.1) inset);
  }
    .event-icon--joined {
      background-color: $brand-info;
    }
    .event-icon.glyphicon-chevron-up {
      background-color: $brand-success;
    }
    .event-icon.glyphicon-chevron-down {
      background-color: $brand-danger;
    }
    .event-icon--competition {
      background-color: $brand-primary;
    }

  .event-body {
    > *:last-child {
      margin-bottom: 0;
    }
  }

  .event-competition {
    font-size: 13px;

    margin-bottom: 5px;
  }
