{% load i18n static game_extras %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% block page_title %}{% trans "Create competitions and track your scores" %}{% endblock %} &middot; Rank-Me{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static "build/main.css" %}" rel="stylesheet" media="screen">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet" type="text/css">

    {% include "_favicons.html" %}
</head>
<body class="{% block body_class %}{% endblock %}">
    {% block page %}
        <div class="app">
            <aside class="app__sidebar">
                <div class="app__header">
                    <a href="/" class="brand">
                        {% include 'icons/swords.svg' %}
                        Rank-Me
                    </a>
                    <button id="sidebar-collapse-button" class="btn btn--bare">
                        {% include 'icons/hamburger.svg' %}
                    </button>
                </div>

                <div id="sidebar-collapse">
                    <div class="mrgb+">
                        <h4>{% trans "Your competitions" %}</h4>
                        <ul class="list-stacked list-stacked--divided list-stacked--large">
                            <li>
                                <ul class="list-stacked list-stacked--tiny">
                                    {% competitions_list %}
                                </ul>
                            </li>
                            <li>
                                <ul class="list-stacked list-stacked--tiny">
                                    <li><a href="{% url "competition_list_all" %}" class="text-muted">{% trans "View all competitions" %}</a></li>
                                    <li><a href="{% url "competition_add" %}" class="text-muted">{% trans "Create new..." %}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>

                    {% if user.profile %}
                        <div class="quick-profile">
                            <ul class="list-stacked list-stacked--tiny">
                                <li>
                                    <div class="media">
                                        <div class="media__left mrgr-">{% include 'game/_player_avatar.html' with class="user-avatar--large" %}</div>
                                        <div class="media__body">
                                            <h4 class="mrg0"><a href="{% url 'profile' %}">{{ user.get_full_name }}</a></h4>
                                            <p class="mrgv0 text-small">{{ user }}</p>
                                            <p class="mrgv--"><a href="{% url 'edit_profile' %}" class="text-muted">{% trans "Account settings" %}</a></p>
                                            <p class="mrgv--"><a href="{% url 'auth_logout' %}" class="text-muted">{% trans "Log out" %}</a></p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </div>
            </aside>

            <div class="app__body">
                {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}

                {% block content %}{% endblock %}
            </div>
        </div>
    {% endblock %}

    <script type="text/javascript">
        var appDatas = {
            "user_id": "{{ user.id }}",
            "username": "{{ user.username }}",
            "fullname": "{{ user.get_full_name }}"
        };
    </script>

    <script type="text/javascript" src="{% static "build/bundle.js" %}"></script>
</body>
</html>
