{% load i18n static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Rank-me</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="{% static "main.css" %}" rel="stylesheet" media="screen">
    </head>
    <body class="{% block body_class %}{% endblock %}">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="/">Rank-me</a>
                    <ul class="nav pull-right">
                        {% if user and user.is_authenticated %}
                          <li class="dropdown">
                              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                  <span id="nav-user-name">{{ user.username }}</span>
                                  {% include 'game/_player_avatar.html' with user=user %}
                                  <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu" role="menu">
                                  <li><a href="{% url 'auth_logout' %}">{% trans "Log out" %}</a></li>
                              </ul>
                          </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>

        <div class="app container">
            {% block content %}{% endblock %}
        </div>

        <script src="{% static "vendors/jquery.min.js" %}"></script>
        <script src="{% static "vendors/bootstrap-dropdown.js" %}"></script>
        <script src="{% static "vendors/underscore-min.js" %}"></script>
        <script src="{% static "vendors/highcharts.js" %}"></script>
        <script src="{% static "vendors/exporting.js" %}"></script>
        <script src="{% static "assets/js/add_result.js" %}"></script>

        {% block extra_footer_js %}{% endblock %}
    </body>
</html>
