{% extends "base.html" %}

{% load static i18n %}

{% block body_class %}home{% endblock %}

{% block content %}
    <div class="page-header">
        <a href="{% url 'game_add' competition_slug=competition.slug %}" id="add-result-button" class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-plus icon-spaced-right"></span>
            {% trans "Add a result" %}
        </a>
        <h1>{{ competition }}</h1>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="scores">
                <div class="score-board panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{% trans "Scores" %}</h3>
                    </div>

                    {% if score_board %}
                        <table class="table">
                            {% for score in score_board %}
                                <tr class="score-item">
                                    <td class="rank-num">{{ forloop.counter }}</td>
                                    <td>
                                        <a href="{% url 'team_detail' team_id=score.team_id competition_slug=competition.slug  %}">
                                            {% for player in score.team.users.all %}
                                                {% include 'game/_player_avatar.html' with user=player %}
                                            {% endfor %}
                                            {{ score.team }}
                                        </a>
                                    </td>
                                    <td class="text-muted">{{ score.score|floatformat:"2" }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <div class="panel-body">
                            {% trans "No scores registered yet." %}
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-md-9">
            <div class="score-chart-header">
                <div>
                    <label for="score-chart-mode-position">Position</label>
                    <input id="score-chart-mode-position" name="score-chart-mode" type="radio" value="position" checked="checked">

                    <label for="score-chart-mode-skill">Skill</label>
                    <input id="score-chart-mode-skill" name="score-chart-mode" type="radio" value="skill">
                </div>
            </div>

            <div id="score-chart-container" class="well hidden-phone" data-json="{% url 'competition_detail_score_chart' competition.slug %}"></div>

            <div class="latest-results panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Last 20 games" %}</h3>
                </div>
                {% if latest_results %}
                    <table class="games table">
                        <thead>
                            <th>{% trans "Winner" %}</th>
                            <th>{% trans "Loser" %}</th>
                            <th>{% trans "Date" %}</th>
                            <th>{% trans "Action" %}</th>
                        </thead>
                        <tbody>
                            {% for game in latest_results %}
                                <tr class="game-item">
                                    {% include 'game/_score_detail.html' %}
                                    <td>
                                        {%if forloop.first %}
                                        <a href="{% url 'game_remove' competition_slug=competition.slug game_id=game.id %}" class="btn btn-danger">
                                            <span class="glyphicon glyphicon-trash icon-spaced-right"></span>
                                            {% trans "Remove" %}
                                        </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="panel-body">
                        {% trans "No result yet." %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_footer_js %}
    <script src="{% static "assets/js/score_chart.js" %}"></script>
{% endblock %}
