{% extends "base.html" %}

{% load static i18n game_extras %}

{% block body_class %}home{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{% trans "All competitions" %}</h1>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>{% trans "Past competitions" %}</h2>
            {% if past_competitions %}
                <ul>
                    {% include "competition/_list.html" with competitions=past_competitions %}
                </ul>
            {% else %}
                <p class="alert alert-info">{% trans "No past competition to display." %}</p>
            {% endif %}
        </div>
        <div class="col-md-4">
            <h2>{% trans "Ongoing competitions" %}</h2>
            {% if ongoing_competitions %}
                <ul>
                    {% include "competition/_list.html" with competitions=ongoing_competitions %}
                </ul>
            {% else %}
                <p class="alert alert-info">{% trans "No ongoing competition to display." %}</p>
            {% endif %}
        </div>
        <div class="col-md-4">
            <h2>{% trans "Upcoming competitions" %}</h2>
            {% if upcoming_competitions %}
                <ul>
                    {% include "competition/_list.html" with competitions=upcoming_competitions %}
                </ul>
            {% else %}
                <p class="alert alert-info">{% trans "No upcoming competition to display." %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
