{% extends "base.html" %}

{% load static i18n bootstrap %}

{% block body_class %}add-result{% endblock %}

{% block content %}
<div class="wrapper--small wrapper">
    <header class="page-header">
        <h1>{% trans "Access denied" %}</h1>
    </header>

    <p>{% blocktrans %}You don't have access to the competition <strong>{{ competition }}</strong> yet.{% endblocktrans %}</p>
    <p><a href="{% url "competition_join" competition_slug=competition.slug %}" class="btn btn-info btn-block">{% trans "Request access now" %}</a></p>
</div>
{% endblock %}
