{% extends "base.html" %}

{% load i18n %}

{% block body_class %}add-result{% endblock %}

{% block content %}
    <h2>{% blocktrans %}Add a new result in competition "{{ competition }}"{% endblocktrans %}</h2>

    <form id="add-result" action="" method="post">
        {{ form.non_field_errors }}
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.label_tag }} {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <p><input type="submit" value="{% trans "Add result" %}" class="btn btn-success" /></p>
    </form>
{% endblock %}
