{% load admin_urls %}
<a href="{% url 'game_add' %}">Add a result</a>

<div id="scores"
    <h2>Scores</h2>
    {% if score_board %}
        <ul class="score-board">
            {% for rank in score_board %}
                <li class="score-item">{{ rank.user.username }} ({{ rank.rank }})</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No scores registered yet.</p>
    {% endif %}
</div>

<div id="latest-results">
    {% if latest_results %}
        <h2>Last 20 games</h2>
        <ul class="games">
        {% for result in latest_results %}
            <li class="game-item"><a href="{% url 'game_detail' result.id %}">{{ result }} - {{ result.date }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}
</div>
