{% extends "base.html" %}

{% load static %}

{% block body_class %}home{% endblock %}

{% block content %}

    <a href="{% url 'game_add' %}" id="add-result-button" class="btn btn-success">Add a result</a>

    <a href="{% url 'create_competition' %}" id="create-competition-button" class="btn btn-success">Create competition</a>
    
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        Competitions
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
          {% for competition in competitions %}
              <li><a href="{% url 'view_competition' id=competition.id %}">{{ competition.name }}</a></li>
          {% endfor %}
      </ul>
    </div>

    <div class="row">
        <div class="span3">
            <div class="scores">
                <h2>Scores</h2>
                {% if score_board %}
                    <ol class="score-board">
                        {% for team in score_board %}
                            <li class="score-item" title="W: {{ team.wins }}, L: {{ team.defeats }}, σ: {{ team.stdev|floatformat:"5" }}"><a href="{% url 'team_detail' team.id %}"><strong>{{ team }}</strong> ({{ team.score|floatformat }})</a></li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p>No scores registered yet.</p>
                {% endif %}
            </div>
        </div>

        <div id="score-chart-container" class="span9 hidden-phone"
            data-scores="{{ score_chart_data }}"></div>
    </div>
    <div class="row">
        <div class="span12">
          <div class="latest-results">
              {% if latest_results %}
                  <h2>Last 20 games</h2>
                  <ul class="games">
                      {% for result in latest_results %}
                          <li class="game-item">
                              <a href="{% url 'game_detail' result.id %}">{{ result }} - {{ result.date }}</a>
                          </li>
                      {% endfor %}
                  </ul>
              {% else %}
                  <p>No result yet.</p>
              {% endif %}
          </div>
        </div>
    </div>
{% endblock %}

{% block extra_footer_js %}
    <script src="{% static "assets/js/score_chart.js" %}"></script>
{% endblock %}
