{% extends "base.html" %}

{% load admin_urls %}

{% block content %}

    <a href="{% url 'game_add' %}" class="btn btn-success">Add a result</a>

    <div class="row">
        <div class="span6">
            <div class="scores">
                <h2>Scores</h2>
                {% if score_board %}
                    <ol class="score-board">
                        {% for team in score_board %}
                            <li class="score-item" title="W: {{ team.wins }}, L: {{ team.defeats }}, σ: {{ team.stdev|floatformat:"5" }}"><a href="{% url 'team_detail' team.id %}"><strong>{{ team }}</strong> ({{ team.score|floatformat }})</a></li>
                        {% endfor %}
                    </ol>
                {% else %}
                    <p>No scores registered yet.</p>
                {% endif %}
            </div>
        </div>

        <div class="span6">
            <div class="latest-results">
                {% if latest_results %}
                    <h2>Last 20 games</h2>
                    <ul class="games">
                    {% for result in latest_results %}
                        <li class="game-item">
                            <a href="{% url 'game_detail' result.id %}">{{ result }} - {{ result.date }}</a>
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p>No result yet.</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row">
        <div id="score-chart-container" class="span12"></div>
    </div>
{% endblock %}

{% block extra_footer_js %}
    {% include 'game/score_chart.html' with container='#score-chart-container' scores_chart_data=scores_chart_data %}
{% endblock %}
