{% extends "base.html" %}

{% block content %}

    <div class="row">
        <div class="span6">
            <div class="team">
                <h1>{{ team }} ({{ team.score|floatformat }})</h1>

                <h2>Game per weeks</h2>
                <table id="game-per-weeks" border="1">
                    <thead>
                        <tr>
                            <td>Week</td>
                            <td>Nb game played by {{ team.get_name }}</td>
                            <td>Total game</td>
                            <td>All team avg</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for week, stats in stats_per_week %}
                            <tr>
                                <td>{{ week }}</td>
                                <td>{{ stats.team_count }}</td>
                                <td>{{ stats.total_count }}</td>
                                <td>{{ stats.avg_game_per_team }}</td></tr>
                        {% endfor %}
                    </tbody>
                </table>

                <h2>Statistics</h2>
                    <ul class="team-statistics">
                        <li><strong>W</strong>: {{ team.wins }}</li>
                        <li><strong>L</strong>: {{ team.defeats }}</li>
                        <li><strong>σ</strong>: {{ team.stdev|floatformat:"5" }}</li>
                        <li><strong>L10</strong>: {{ last_results.wins }} - {{ last_results.defeats }}</li>
                        <li><strong>Longest Winning Streak</strong>: {{ longest_streak }}</li>
                    </ul>
                <h2>Last 10 games</h2>
                <ul class="team-last-games">
                    {% regroup last_results.games by date|date:"d F Y" as last_games %}
                    {% for game_dates in last_games %}
                        <li class = "date">{{ game_dates.grouper }}<ul>
                            {% for game in game_dates.list %}
                                {% if game.winner == team %}
                                    <li class="game game-win">Win against <span class="loser">
                                        <a href="{% url 'team_detail' game.loser.id %}">{{ game.loser }}</a>
                                    </span></li>
                                {% else %}
                                    <li class="game game-defeat">Defeat against <span class="winner">
                                        <a href="{% url 'team_detail' game.winner.id %}">{{ game.winner }}</a>
                                    </span></li>
                                {% endif %}
                            {% endfor %}
                        </ul></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="span6">
            <h2>Head-to-Head</h2>
            <ul class="head2head">
            {% for opponent, results in head2head.iteritems %}
                <li class="team">
                    <a href="{% url 'team_detail' opponent.id %}"><strong>{{ opponent }}</strong></a>: 
                    {{ results.wins }} - {{ results.defeats }}
                    <ul class="head2head-games hidden">
                        {% for game in results.games %}
                            {% ifchanged game.date|date:"d F Y" %}
                                {% if forloop.first != True %}</ul>{% endif %}<li class = "date">{{ game.date|date:"d F Y" }}<ul>
                            {% endifchanged %}
                            {% if game.winner == team %}
                                <li class="game game-win">Win</li>
                            {% else %}
                                <li class="game game-defeat">Defeat</span></li>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </div>


    </div>

{% endblock %}
