/*----------------------------------------*\
  GLOBAL SETTINGS
\*----------------------------------------*/

// Use this setting to prefix all the components classes
// $namespace:                         '';


/**
 * Colors
 */

$brand-color:                       #FFD23E;
$alt-color-lighter:                 #eee;
// $alt-color-light:                   #999;
$alt-color:                         #5a6e7c;
$alt-color-dark:                    #3A4750;
$alt-color-darker:                  #27323A;

$brand-success:                     #89c571;
$brand-danger:                      #d76b7a;
$brand-warning:                     #e1c170;
$brand-info:                        #659dca;


/**
 * Typography
 */

$font-family-default:               'Rubik', sans-serif;

$font-size-default:                 18px;
// $font-size-small:                   0.75rem;
// $font-size-large:                   1.5rem;

// $line-height-default:               1.45;

$text-color:                        $alt-color-lighter;
// $link-color:                        $brand-color;
// $muted-color:                       transparentize($text-color,.4);


/**
 * Spacings
 */

// $ratio:                             1.61803398875;

// $spacing-unit-default:              24px;
// $spacing-unit-tiny:                 floor($spacing-unit-default / ($ratio * 2));
// $spacing-unit-small:                floor($spacing-unit-default / $ratio);
// $spacing-unit-large:                floor($spacing-unit-default * $ratio);
// $spacing-unit-huge:                 floor($spacing-unit-default * ($ratio * 2));


/**
 * Responsiveness
 */

$screen-xs-max:                     640px;
$screen-sm-min:                     $screen-xs-max + 1px;
$screen-sm-max:                     768px;
$screen-md-min:                     $screen-sm-max + 1px;
$screen-md-max:                     1024px;
$screen-lg-min:                     $screen-md-max + 1px;
$screen-lg-max:                       1200px;
$screen-xl-min:                       $screen-lg-max + 1px;

$breakpoints-default:               (
                                      'sm' '(min-width: #{$screen-sm-min})',
                                      'md' '(min-width: #{$screen-md-min})',
                                      'lg' '(min-width: #{$screen-lg-min})',
                                      'xl' '(min-width: #{$screen-xl-min})'
                                    );
$breakpoints-desc:                  (
                                      'xs' '(max-width: #{$screen-xs-max})',
                                      'sm' '(max-width: #{$screen-sm-max})',
                                      'md' '(max-width: #{$screen-md-max})',
                                      'lg' '(max-width: #{$screen-lg-max})'
                                    );


/**
 * Miscellaneous
 */

$border-radius-default:             6px;
// $border-radius-small:               2px;
// $border-radius-large:               6px;


/*----------------------------------------*\
  COMPONENTS
\*----------------------------------------*/

/**
 * Buttons
 */

// $btn-padding:                       $spacing-unit-small;
// $btn-color:                         inherit;
// $btn-border:                        1px solid transparent;
// $btn-bkg:                           transparent;
// $btn-border-radius:                 $border-radius-default;

// $btn-small-padding:                 $spacing-unit-tiny;
// $btn-small-font-size:               $font-size-small;
// $btn-small-border-radius:           $border-radius-small;

// $btn-large-padding:                 $spacing-unit-default;
// $btn-large-font-size:               $font-size-large;
// $btn-large-border-radius:           $border-radius-large;

// $btn-default-color:                 $alt-color-darker;
$btn-default-bkg-color:             $alt-color-dark;
// $btn-default-hover-bkg-color:       lighten($btn-default-bkg-color, 3%);
// $btn-default-active-bkg-color:      darken($btn-default-bkg-color, 5%);

$btn-primary-color:                 $alt-color-darker;
// $btn-primary-bkg-color:             $brand-color;
// $btn-primary-hover-bkg-color:       lighten($btn-primary-bkg-color, 8%);
// $btn-primary-active-bkg-color:      darken($btn-primary-bkg-color, 5%);


/**
 * Forms
 */

// $field-padding:                     $spacing-unit-small;

// $field-color:                       inherit;
// $field-font-size:                   inherit;
// $field-font-family:                 inherit;
// $field-line-height:                 $line-height-default;

$field-bkg-color:                   $alt-color-dark;
$field-border:                      2px solid transparent;
$field-focus-border-color:          $alt-color;
// $field-border-radius:               $border-radius-default;

// $field-disabled-bkg-color:          $alt-color-lighter;
// $field-disabled-color:              $alt-color;

// $field-small-padding:               $spacing-unit-tiny;
// $field-small-font-size:             $font-size-small;
// $field-small-border-radius:         $border-radius-small;

// $field-large-padding:               $spacing-unit-default;
// $field-large-font-size:             $font-size-large;
// $field-large-border-radius:         $border-radius-large;

// $field-help-color:                  $alt-color-light;


/**
 * Lists
 */

$list-separator-style:              1px solid $alt-color;


/**
 * Box
 */

// $box-default-color:                 inherit;
$box-default-bkg-color:             transparent;

// $box-primary-color:                 white;
// $box-primary-bkg-color:             $brand-color;


/**
 * Widths
 */

// $widths-columns:                    6,5,4,3,2,1;
// $widths-breakpoints:                $breakpoints-default;


/**
 * Media
 */

// $media-gutter:                      $spacing-unit-default;


/**
 * Media responsive
 */

// $media-collapse:                    $screen-sm-max;


/**
 * Mosaic responsive
 */

// $mosaic-collapse:                   $screen-sm-max;
