/**
 * SETTINGS
 */


// Override Bootstrap's defaults

$brand-primary: #e18a70;
$brand-dark: #d86846;
$brand-light: #f4ddd2;
$brand-lighter: #f9ede7;

$brand-success: #89c571;
$brand-danger: #d76b7a;
$brand-warning: #e1c170;
$brand-info: #659dca;

$gray-darker: #111;
$gray-dark: #333;
$gray: #777;
$gray-light: #ccc;
$gray-lighter: #eee;

$link-color: #3a77a9;

$text-muted: $gray;
$headings-small-color: $gray;
$blockquote-small-color: $gray;

$well-bg: lighten($brand-primary,33%);
$well-border: lighten($brand-primary,25%);

$hr-border: $brand-light;

$panel-default-heading-bg: $brand-lighter;
$panel-default-border: $well-border;
$panel-inner-border: $panel-default-border;

$table-bg-accent: $well-bg;
$table-border-color: $well-border;

$navbar-height: 70px;
$navbar-default-bg: $brand-primary;
$navbar-default-color: white;
$navbar-default-link-color: white;
$navbar-default-link-hover-color: white;
$navbar-default-link-hover-bg: darken($navbar-default-bg, 6.5%);
$navbar-default-link-active-color: white;
$navbar-default-brand-color: white;
$navbar-default-brand-hover-color: white;
$navbar-default-toggle-icon-bar-bg: white;

$btn-primary-bg: $brand-info;
$btn-default-border: $well-border;

// Spacings

$spacing-unit: 24px;
$half-spacing-unit: $spacing-unit / 2;
$double-spacing-unit: $spacing-unit * 2;
