{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="team">
    <header class="page-header">
        {% if can_edit %}
        	<a href="{% url 'edit_profile' %}" class="btn btn-primary pull-right">{% trans "Edit profile" %}</a>
        {% endif %}
        <h1>
            {% include 'game/_player_avatar.html' %}
            {{ profile.full_name }}
            <small>{{ profile.twitter }}</small>
        </h1>
    </header>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{% trans "Competitions" %}</h3>
                </div>
                {% if scores %}
                    <table class="table tabble-stripped">
                        <thead>
                            <tr>
                                <th>Competition</th>
                                <th>Score (µ)</th>
                                <th>σ</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for score in scores %}
                                <tr>
                                    <td>{{ score.competition.name }}</td>
                                    <td>{{ score.score|floatformat:"2" }}</td>
                                    <td>{{ score.stdev|floatformat:"3" }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <div class="panel-body">
                        <p class="alert alert-info">{% trans "This user didn’t participate in any competition yet." %}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
